/* colorblind */
@darkblue: #1f78b4;
@lightblue: #a6cee3;
@darkgreen: #33a02c;
@lightgreen: #b2df8a;

/* Set3 */
@color1: #8dd3c7;
@color2: #ffffb3;
@color3: #bebada;
@color4: #fb8072;
@color5: #80b1d3;
@color6: #fdb462;
@color7: #b3de69;
@color8: #fccde5;

@screenheight: 600px;
@verticalgap: 15px;


/* make the scrollbars always visible, but only active when needed */
html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

body {
    padding-top:41px;
}

#east,
#west,
#activePlayer,
#playerTabs,
#round,
#unbuiltBuildings,
#rondel,
#playerBoard,
#rondel,
#settlements,
#inventory {
  position: relative;
  border-radius: 4px;
}

#activePlayer {
  background-color: @color6;
  margin-top: @verticalgap;
}
#playerTabs {
  background-color: @color7;
  margin-top: @verticalgap;
}
#round {
  background-color: @color8;
  margin-top: @verticalgap;
}

#unbuiltBuildings {
  background-color: @color1;
  margin-top: @verticalgap;
}

#rondel {
  background-color: @color2;
  margin-top: @verticalgap;
}

#playerBoard {
  background-color: @color3;
  margin-top: @verticalgap;
}

#settlements {
  background-color: @color4;
  margin-top: @verticalgap;
}

#inventory {
  background-color: @color5;
  margin-top: @verticalgap;
}

