
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@main(Messages("playauthenticate.index.title")) {
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Kennerspiel</h1>
        <p>
            This is Kennerspiel, an online community for playing board games. So far it's just
            <a href="http://www.zmangames.com/boardgames/ora&labora.htm" target="_blank">Ora et Labora</a>,
            but more are coming!
        </p>
        <div style="text-align: center">
            @subjectNotPresent() {
                <a href="@routes.Application.signup()" class="btn btn-large btn-danger" style="width: 13%">@Messages("playauthenticate.navigation.signup")</a>
            }
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Learn</h2>
          <p>Learn how to play any of the games on this site.</p>
          <p><a class="btn" href="#">@Messages("playauthenticate.index.details") &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Play</h2>
          <p>Play with your friends or total strangers.</p>
          <p><a class="btn" href="#">@Messages("playauthenticate.index.details") &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Help</h2>
          <p>You don't have to be a programmer to help out. We're also looking for designers, artists, and translators.</p>
          <p><a class="btn" href="#">@Messages("playauthenticate.index.details") &raquo;</a></p>
        </div>
      </div>
    }