@(localUser: models.User = null)

@main(Messages("playauthenticate.navigation.labora"), "labora") {
    
    <div id="north" class="row-fluid">
        <div class="span1" id="activePlayer">
            Turn
        </div>
        <div class="span10" id="playerTabs">
            Tabs... Tabs... Tabs...
        </div>
        <div class="span1" id="round">
            Round
        </div>
    </div>
    <div class="row-fluid">
        <div id="west" class="span7">

            <div id="unbuiltBuildings">
                <h2>Unbuilt Buildings</h2>
                <div class="heading">
                    <div style="position: absolute; bottom: 0; left: 50%; margin-left: -50px; width: 100px; text-align: center; z-index: 1">
                        <div class="btn btn-small" data-toggle="collapse" data-parent="#unbuiltBuildings" data-target="#unbuiltBuildingsData">
                            Expand <span class="caret"></span>
                        </div>
                    </div>
                </div>
                <div id="unbuiltBuildingsData" class="collapse">
                            Lollipop cheesecake halvah. Danish gummies gingerbread chocolate. Cookie tart wafer. Candy canes I love sesame snaps chocolate oat cake cotton candy. Cookie toffee donut dessert cotton candy. Tiramisu I love biscuit. Wypas lollipop muffin. I love tootsie roll donut gummi bears bonbon wypas pastry pie. Souffl&eacute; marshmallow candy canes dessert chocolate. Sesame snaps candy canes gummi bears muffin. Tart I love cupcake pie carrot cake. Chocolate carrot cake I love chocolate bar toffee.
                </div>
            </div>
            <div id="playerBoard">
                <h2>Player Board</h2>
                Cupcake ipsum dolor sit amet liquorice biscuit. Pie donut faworki jelly applicake. Tiramisu sesame snaps gummi bears powder drag&eacute;e. Tootsie roll apple pie muffin. Oat cake lemon drops sweet roll pudding icing souffl&eacute; biscuit sweet roll souffl&eacute;. Sweet cookie jelly-o jelly-o. Chupa chups dessert danish sweet roll chocolate bar bonbon sweet tiramisu croissant. Tiramisu candy canes gingerbread biscuit candy chocolate bar cupcake chocolate cake icing. Jelly gummies jujubes fruitcake sweet roll candy brownie. Candy canes ice cream icing apple pie jelly beans bonbon jelly faworki. Souffl&eacute; marshmallow icing gummi bears. Muffin brownie chupa chups faworki croissant chocolate bar. Jelly beans marzipan powder sweet roll. Marzipan lollipop dessert halvah jelly tiramisu donut cheesecake.
                Tart cookie sugar plum applicake. Wypas sweet roll faworki liquorice pudding bear claw jelly beans bonbon. Toffee faworki bonbon. Caramels macaroon chupa chups souffl&eacute; cheesecake candy canes. Pie sweet tiramisu fruitcake muffin pie. Croissant tart bonbon pie. Carrot cake jujubes gingerbread lollipop. Tart drag&eacute;e ice cream bear claw brownie ice cream applicake cake. Marshmallow chupa chups sugar plum. Cupcake carrot cake chocolate cake bonbon chocolate chupa chups applicake. Apple pie candy canes sweet roll chocolate cupcake topping tart. Marshmallow cupcake oat cake marshmallow candy chocolate.
            </div>
        </div>
        <div id="east" class="span5">
            <div id="settlements">
                <h2>Settlements</h2>
                Cupcake icing cake toffee applicake dessert gingerbread sweet roll. Chocolate bar pudding sesame snaps souffl&eacute; bonbon sesame snaps sesame snaps. Gummies bear claw gummies marshmallow candy. Lollipop halvah liquorice faworki muffin macaroon wafer gingerbread. Lemon drops donut liquorice tootsie roll wafer macaroon. Chupa chups macaroon lemon drops chocolate cake topping candy chocolate cake. Toffee powder wypas pastry cookie jelly beans cupcake. Cheesecake lemon drops lemon drops. Wafer ice cream chupa chups dessert pie chocolate liquorice jelly-o. Wypas oat cake icing oat cake drag&eacute;e macaroon gingerbread. Danish souffl&eacute; pudding bonbon wafer. Sweet roll chupa chups topping jelly beans gummi bears dessert biscuit jelly. Liquorice lollipop pudding jujubes macaroon. Chocolate liquorice marshmallow candy faworki wafer.
                    
            </div>
            <div id="rondel">
                <h2>Rondel</h2>
                Chocolate cake croissant pastry. Bonbon lemon drops chocolate faworki pastry chocolate. Pudding drag&eacute;e gummies chocolate. Jelly-o cookie jelly jelly beans cheesecake. Jelly oat cake pudding jelly beans bear claw chocolate marzipan muffin apple pie. Pudding caramels applicake halvah ice cream sweet roll caramels wafer. Topping toffee brownie donut bonbon donut lemon drops croissant halvah. Macaroon sweet roll sweet roll toffee oat cake jelly macaroon liquorice sesame snaps. Caramels drag&eacute;e pie tart carrot cake toffee gingerbread candy canes. Muffin carrot cake chocolate bar. Lollipop pudding liquorice jelly beans oat cake pastry. Tootsie roll sweet candy macaroon donut topping caramels liquorice sugar plum.
            </div>
            <div id="inventory">
                <h2>Inventory</h2>
                Topping jelly beans danish jujubes drag&eacute;e. Icing faworki dessert cake candy cotton candy cheesecake. Candy canes fruitcake bonbon jelly beans apple pie gummies. Jelly beans carrot cake brownie tart bonbon jelly cupcake candy. Jujubes souffl&eacute; chocolate bar icing sugar plum marzipan tootsie roll. Cookie jelly beans chocolate cake. Sweet sesame snaps cheesecake bear claw bonbon liquorice apple pie sweet roll apple pie. Chocolate pastry ice cream danish cotton candy. Bear claw drag&eacute;e powder marshmallow. Gummies wafer donut cookie jelly beans drag&eacute;e jelly jujubes. Toffee ice cream macaroon icing icing lemon drops cupcake. Tart gummi bears donut. Drag&eacute;e candy wypas. Gingerbread chupa chups powder gingerbread chupa chups dessert.
            </div>
            
            
        </div>
    </div>
    
    
}